:root {
  --background-color: #1d1d1f;
  --primary-font-color: #fff;
  --secondary-font-color: #2a5fd7;
  --tertiary-color: #d5d5d5;
}

@font-face {
  font-family: ClashdisplaySemibold;
  src: url(fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Semibold.otf);
}

@font-face {
  font-family: ClashdisplayRegular;
  src: url(fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--primary-font-color);
  font-family: "Open Sans", sans-serif;
  max-width: 1500px;
  margin: auto;
}

/* NAVBAR SECTION */

.nav-section {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(29, 29, 31, 0.8);
}

.navbar {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem 0;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  text-decoration: none;
  margin: 0 1.5rem;
}

.non-blue-txt {
  color: var(--primary-font-color);
}

.nav-items a:hover {
  color: var(--secondary-font-color);
}

.logo-img {
  width: 4vw;
}

/* MARQUEE SECTION */

.marquee {
  margin: 5rem 10rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.marquee div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HERO SECTION */

.blur-circle-1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--secondary-font-color);
  position: absolute;
  z-index: -1;
  filter: blur(10rem);
  left: 0;
}

.blur-circle-2 {
  width: 70%;
  height: 100px;
  border-radius: 50%;
  background-color: var(--secondary-font-color);
  position: absolute;
  z-index: -1;
  filter: blur(15rem);
}

.hero-section {
  margin: 0 5rem;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: ClashdisplaySemibold, sans-serif;
  font-size: 1.7rem;
  flex-wrap: wrap;
}

.hero-txt {
  width: 55%;
}

.hero-img {
  width: 30vw;
}

.cta-btn {
  background: linear-gradient(to right, #585a5d, #483f41);
  /* border: 1px solid linear-gradient(#fff, #525252); */
  border: none;
  border-radius: 1.5rem;
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  margin: 2rem 0;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #525252;
  color: var(--primary-font-color);
  font-family: ClashdisplayRegular, sans-serif;
}

.cta-btn:hover {
  background: var(--secondary-font-color);
}

/* WHO WE ARE SECTION */

.who-we-are {
  margin: 5rem;
}

.who-we-are-heading {
  color: var(--secondary-font-color);
  margin-bottom: 2rem;
  font-family: ClashdisplaySemibold, sans-serif;
}

.who-we-are-main-txt {
  color: var(--primary-font-color);
  font-size: 1.2rem;
}

.grey-txt {
  color: #7e7e7e;
}

.who-we-are-sub-txt {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  margin-top: 2rem;
}

.large-txt-bold {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: ClashdisplaySemibold, sans-serif;
}

.large-txt {
  font-size: 1.5rem;
}

.who-we-are-sub-txt-1,
.who-we-are-sub-txt-2 {
  margin-bottom: 0.3rem;
}

/* WHAT WE DO SECTION */

.what-we-do {
  margin: 5rem;
}

.what-we-do-heading {
  color: var(--secondary-font-color);
  margin-bottom: 2rem;
  font-family: ClashdisplaySemibold, sans-serif;
}

.what-we-do-main-txt {
  color: var(--primary-font-color);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.what-we-do-sub-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.what-we-do-sub-txt {
  text-align: center;
  font-weight: light;
}

.front2 {
  padding: 1rem 1rem 2rem;
  background: linear-gradient(to right, #d9d9d921, #d9d9d900);
  border: 0.5px solid #585a5d;
  border-radius: 20px 0 20px 0;
  width: 20vw;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 300px;
}

.grow {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.what-we-do-img {
  /* width: 10vw; */
  width: 10rem;
  display: block;
  margin: 1rem auto;
}

/* MEET OUR TEAM SECTION */

.meet-our-team {
  margin: 5rem;
}

.meet-our-team-heading {
  color: var(--secondary-font-color);
  margin-bottom: 2rem;
  font-family: ClashdisplaySemibold, sans-serif;
}

.meet-our-team-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: clamp(1.1rem, 3vw, 5rem);
}

.grid-item {
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(to right, #d9d9d921, #d9d9d900);
  border: 0.5px solid #585a5d;
  border-radius: 20px 0 20px 0;
  padding: 1.2rem 0 0;
}

.blue-txt {
  color: var(--secondary-font-color);
  font-weight: bold;
}

.blue-link {
  color: var(--secondary-font-color);
  text-decoration: none;
}

.meet-our-team-wrapper div {
  margin: auto;
}

.team-name {
  font-size: 1rem;
}

.team-sub-txt {
  font-size: 0.7rem;
  margin: 0.5rem 0;
}

/* OUR VISION AND MISSION */

.our-vision-mission {
  margin: 5rem;
}

.our-vision-mission-header {
  color: var(--secondary-font-color);
  margin-bottom: 2rem;
  font-family: ClashdisplaySemibold, sans-serif;
}

.our-vision-mission-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.year {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}

.our-vision,
.our-mission {
  display: flex;
  min-height: 100px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  background: linear-gradient(to right, #d9d9d921, #d9d9d900);
  border: 0.5px solid #585a5d;
  border-radius: 20px 0 20px 0;
  position: relative;
  flex-wrap: wrap;
  gap: 1rem;
}

.our-vision:hover,
.our-mission:hover {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
}

.front {
  text-align: center;
}

.back2 {
  position: absolute;
  top: 0;
  background-color: #1d1d1f;
  border: 0.5px solid #585a5d;
  border-radius: 0 20px 0 20px;
}

.front {
  text-align: center;
}

.back {
  /* Back content styles */
  transform: rotateY(180deg);
  text-align: left;
}

.what-we-do-sub {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.what-we-do-sub:hover {
  transform: rotateY(180deg);
}

.back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
}

.back2 {
  /* Back content styles */
  transform: rotateY(180deg);
  text-align: left;
  padding: 1rem;
}

.rectangular:hover .card {
  transform: rotateY(180deg);
}

.vision-main-txt,
.mission-main-txt {
  font-size: 1rem;
  flex-grow: 1;
}

/* CONTACT US SECTION */

.contact-us {
  margin: 5rem;
}

form {
  margin-top: 20px;
}

form .form-group {
  margin-bottom: 20px;
}

form label {
  display: block;
  font-weight: bold;
}

.form-control {
  background-color: var(--tertiary-color); /* Darker grey for input fields */
  color: #7e7e7e; /* Text color */
  border: 1px solid #555; /* Border color */
  border-radius: 4px; /* Rounded corners for input fields */
  padding: 8px; /* Add padding for spacing */
  width: 100%;
  height: 3.5rem;
  font-size: 1rem;
}

.submit-btn {
  background: linear-gradient(to right, #585a5d, #483f41);
  /* border: 1px solid linear-gradient(#fff, #525252); */
  border: none;
  border-radius: 1.5rem;
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  margin: 2rem 0;
  box-shadow: 0 0 0 3px var(--background-color), 0 0 0 6px #525252;
  color: var(--primary-font-color);
  font-family: ClashdisplayRegular, sans-serif;
}

.submit-btn:hover {
  background: var(--secondary-font-color);
}

.contact-sub-heading {
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
}

.contact-heading {
  margin-bottom: 1rem;
  font-family: ClashdisplaySemibold, sans-serif;
}

/* FOOTER */

.footer {
  margin: 5rem 5rem 0;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-footer a {
  color: #2a5fd7;
}

.icon-wrapper {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.icon-wrapper a {
  color: var(--primary-font-color);
}

.footer-sub {
  margin: 1rem 0;
  text-align: center;
}

.footer-icon:hover {
  color: var(--secondary-font-color);
}

@media screen and (max-width: 1000px) {
  .meet-our-team-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: clamp(1.2rem, 4vw, 5rem);
  }

  .what-we-do-sub-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 520px) {
  .hero-section {
    font-size: 1.3rem;
  }

  .meet-our-team-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: clamp(1.2rem, 4vw, 5rem);
  }

  .what-we-do-sub-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .marquee {
    flex-direction: column;
    gap: 1rem;
  }

  .what-we-do-sub-wrapper {
    gap: 2rem;
  }

  .who-we-are-sub-txt {
    gap: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .meet-our-team {
    margin: 5rem 2rem;
  }
  .navbar {
    padding: 1rem 2rem 0;
  }
  .nav-items a {
    margin: 0 0.5rem;
  }

  .marquee {
    margin: 2rem 4rem;
  }

  .hero-section {
    font-size: 1.5rem;
  }

  .hero-txt {
    width: 100%;
  }
}
