:root {
  --primary-font-color: #e2e2e2;
  --secondary-font-color: #2a5fd7;
  --tertiary-color: #d5d5d5;
}

@font-face {
  font-family: ClashdisplaySemibold;
  src: url(fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Semibold.otf);
}

@font-face {
  font-family: ClashdisplayRegular;
  src: url(fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d1d1f;
  color: var(--primary-font-color);
  font-family: "Open Sans", sans-serif;
  max-width: 1500px;
  margin: auto;
}

/* NAVBAR SECTION */

.nav-section {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(29, 29, 31, 0.8);
}

.navbar {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem 0;
}

.nav-sub-txt {
  max-width: 1500px;
  margin: auto;
  padding: 1rem 5rem 0;
  font-family: ClashdisplayRegular, sans-serif;
}
.nav-sub-txt a {
  margin-right: 0.5rem;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  text-decoration: none;
  margin: 0 1.5rem;
}

.non-blue-txt {
  color: var(--primary-font-color);
}

.blue-link {
  color: var(--secondary-font-color);
  text-decoration: none;
}

.nav-items a:hover {
  color: var(--secondary-font-color);
}

.logo-img {
  width: 4vw;
}

/* PORTFOLIO SECTION */

.portfolio-section {
  margin: 7.5rem 5rem 5rem;
}

.portfolio-heading {
  color: var(--secondary-font-color);
  margin-bottom: 1rem;
  font-family: ClashdisplaySemibold, sans-serif;
}

.portfolio-sub-txt {
  margin-bottom: 1rem;
  font-weight: 300;
}

.portfolio-main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: clamp(1.2rem, 4vw, 5rem);
}

.dash {
  font-weight: bold;
  margin-right: 0.5rem;
}

.img-wrapper {
  background-color: #34373e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.sub-heading {
  margin-bottom: 0.5rem;
  font-family: ClashdisplayRegular, sans-serif;
  font-size: 1.1rem;
}

.sub-main {
  color: #e1e1e1;
}

.sub-footer {
  font-family: ClashdisplaySemiBold, sans-serif;
  color: #717171;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.img-wrapper:hover {
  background-color: #3d99ff;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
}

/* OTHER PROJECTS */

.other-projects {
  margin: 5rem;
}

.other-projects-header {
  color: var(--secondary-font-color);
  margin-bottom: 2rem;
  font-family: ClashdisplaySemibold, sans-serif;
}

.other-projects-main {
  margin-bottom: 2rem;
}

/* HERO SECTION */

.hero-section {
  margin: 10rem 5rem 0;
}

.hero-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: clamp(1.2rem, 4vw, 5rem); */
  column-gap: 2rem;
}

.hero-content-left {
  width: 40vw;
  font-family: ClashdisplayRegular, sans-serif;
}

.hero-content-right {
  display: flex;
  justify-content: center;
  align-self: center;
}

.case-study-info {
  font-size: 1.2rem;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
}

.qr-logo {
  height: 5rem;
}
.chatbot-logo {
    width: 100%; /* Scale based on the container's width */
    max-width: 400px; /* Adjust this to the actual width of your image */
    height: auto; /* This maintains the aspect ratio */
}
.iphone-mockup {
  width: clamp(18rem, 40vw, 25rem);
}

.free-hand-mockup {
  width: clamp(10rem, 30vw, 20rem);
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.title {
  font-size: clamp(1.4rem, 2.5vw, 2.4rem);
  font-family: ClashdisplayRegular, sans-serif;
}

.info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  font-size: 1rem;
}

/* PS SECTION */

.ps-section {
  margin: 7.5rem 5rem 5rem;
  font-family: ClashdisplayRegular, sans-serif;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.ps-left {
  max-width: 50%;
}

.ps-title {
  margin-bottom: 3rem;
}

.ps-right {
  flex-grow: 1;
  text-align: center;
}

.ps-icon-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  width: 70%;
  margin: auto;
}

.ps-icon-wrapper img {
  justify-self: center;
  align-self: center;
  width: 3rem;
}

.ps-icon-wrapper p {
  font-size: 0.8rem;
}

.whatsapp-number-cleaner-ps-img {
  width: clamp(18rem, 25vw, 23rem);
}

.new-qrs-ps-img {
  width: clamp(18rem, 30vw, 32rem);
}

/* OUR SOULTION SECTION */

.our-soln-section {
  margin: 5rem;
  font-family: ClashdisplayRegular, sans-serif;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.our-soln-left {
  max-width: 50%;
}

.our-soln-title {
  margin-bottom: 3rem;
}

.our-soln-right {
  flex-grow: 1;
  text-align: center;
}

.our-soln-img {
  width: clamp(18rem, 25vw, 23rem);
}

.our-soln-right-counterfeiting {
  display: flex;
  justify-self: center;
  align-items: center;
}

/* UI SCREENS SECTION */

.ui-screens-section {
  margin: 5rem;
  font-family: ClashdisplayRegular, sans-serif;
}

.ui-screens-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
}

.ui-screen-1-img {
  width: 20rem;
}

.ui-screens-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
}

.ui-screen-2-img {
  width: 32rem;
}

.ui-txt1 {
  font-size: 10px;
  align-self: center;
  width: 70%;
}

.left-txt {
  justify-self: end;
  text-align: right;
}

.right-txt {
  text-align: left;
  justify-self: left;
}

.ui-txt2 {
  font-size: 10px;
  align-self: center;
  width: 70%;
}

/* WHATSAPP DEMO SECTION */

.whatsapp-demo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  background: linear-gradient(#cfe1f5, #007aff);
}

.whatsapp-demo-img {
  width: 80%;
  margin: 2rem;
}

/* OVERVIEW SECTION */

.overview-section {
  margin: 5rem;
  display: flex;
  font-family: ClashdisplayRegular, sans-serif;
  flex-wrap: wrap;
  gap: 2rem;
}

/* FEATURES SECTION */

.features-section {
  margin: 5rem;
  font-family: ClashdisplayRegular, sans-serif;
}

.features-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}

.features-card-img {
  margin: 2rem 0;
  width: clamp(15rem, 45vw, 45rem);
}

.feature-wrapper-2 {
  text-align: center;
}

/* DOWNLOAD SECTION */

.download-section {
  margin: 5rem auto;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  /* justify-content: space-around;
  align-items: center; */
}

.download-phone-img {
  width: 15rem;
}

.store-icon-wrapper {
  display: flex;
  gap: 2rem;
  /* justify-content: center; */
}

.store-icon {
  height: 3rem;
}

.download-right {
  align-self: center;
}

.download-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-right h1 {
  font-family: ClashdisplayRegular, sans-serif;
}

/* WHATSAPP MOCKUP SECTION */

.whatsapp-mockup-section {
  margin: 5rem 10rem;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}

.whatsapp-mockup-img {
  width: clamp(18rem, 35vw, 35rem);
}

.whatsapp-mockup-btn {
  background: linear-gradient(to right, #585a5d, #483f41);
  /* border: 1px solid linear-gradient(#fff, #525252); */
  border: none;
  border-radius: 1.5rem;
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  box-shadow: 0 0 0 3px var(--background-color), 0 0 0 6px #525252;
  color: var(--primary-font-color);
  font-family: ClashdisplayRegular, sans-serif;
}

.whatsapp-mockup-btn:hover {
  background: var(--secondary-font-color);
}

/* FOOTER */

.footer {
  margin: 5rem 5rem 0;
}

.mains {
  font-size: 0.7rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.mains a {
  color: var(--primary-font-color);
  text-decoration: none;
}

.mains a:hover {
  color: var(--secondary-font-color);
}

.details-footer {
  font-size: 0.8rem;
}

.links-footer {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.icon-wrapper {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.icon-wrapper a {
  color: var(--primary-font-color);
}

.footer-sub {
  margin: 1rem 0;
  text-align: center;
  font-size: 0.8rem;
}

.footer-icon:hover {
  color: var(--secondary-font-color);
}

.grey-txt {
  color: #7e7e7e;
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 600px) {
  .ps-icon-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 0.5rem;
  }

  .download-section {
    margin: 2rem auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 3rem;
    /* justify-content: space-around;
  align-items: center; */
  }

  .info-wrapper {
    font-size: 0.8rem;
  }

  .ui-screen-1-img {
    width: 12rem;
  }
  .ui-screen-2-img {
    width: 18rem;
  }

  .case-study-info {
    font-size: 1rem;
  }

  .footer {
    margin: 5rem 2rem 0;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    padding: 1rem 2rem 0;
    font-size: 0.8rem;
  }
  .nav-items a {
    margin: 0 0.5rem;
  }
  .nav-sub-txt {
    font-size: 0.8rem;
  }
  .nav-sub-txt {
    margin: auto;
    padding: 1rem 2rem 0;
  }
  .nav-sub-txt a {
    margin-right: 0.5rem;
  }
  .overview-section {
    margin: 5rem 2rem;
  }
  .features-section {
    margin: 5rem 2rem;
  }
  .other-projects {
    margin: 2rem;
  }
  .hero-section {
    margin: 8.5rem 2rem 5rem;
  }
  .download-section {
    margin: 5rem 2rem 2rem;
  }
  .store-icon {
    height: 2.5rem;
  }
  .our-soln-section {
    margin: 5rem 2rem;
  }
  .ps-section {
    margin: 5rem 2rem;
  }
  .hero-content-wrapper {
    display: block;
  }
  .hero-content-left {
    width: 100%;
  }
  .whatsapp-mockup-section {
    flex-direction: column;
    margin: 5rem 2rem;
    text-align: center;
  }
  .portfolio-section {
    margin: 5rem 2rem;
  }
  .portfolio-main-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    gap: clamp(1.2rem, 4vw, 5rem);
  }
  .ps-left {
    max-width: 100%;
  }
  .our-soln-left {
    max-width: 100%;
  }
  .ui-screens-section {
    margin: 5rem 2rem;
  }
  .whatsapp-demo-section {
    margin: 5rem 2rem;
  }
  .ui-screens-1,
  .ui-screens-2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
  }
  .left-txt,
  .right-txt {
    justify-self: center;
    text-align: center;
  }
  .ui-txt1,
  .ui-txt2 {
    align-self: center;
  }
  .ui-screen-1-img,
  .ui-screen-2-img {
    margin: 2rem auto;
  }
  .ui-screen-1-img {
    width: 15rem;
  }
}
